---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: $serverName
  name: $serverName-external
spec:
  ports:
    - name: management
      nodePort: $nodePort
      port: 5432
      targetPort: 5432
  selector:
    app.kubernetes.io/name: $serverName
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: $serverName
  name: $serverName
spec:
  ports:
    - name: db
      port: 5432
      targetPort: 5432
  selector:
    app.kubernetes.io/name: $serverName
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
        app.kubernetes.io/name: $serverName
  name: $serverName
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: $serverName
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: $serverName
    spec:
      containers:
        - name: $serverName
          image: registry.gitlab.com/sintexx/microfactory/postgres14multi:1.1
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_MULTIPLE_DATABASES
              value: $databaseEnv
            - name: POSTGRES_USER
              value: admin
            - name: POSTGRES_PASSWORD
              value: admin
      imagePullSecrets:
        - name: regcred
---